<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Rubik+Vinyl&display=swap" rel="stylesheet">
    <style>
        body, html {
            margin: 0;
            font-family: 'Poppins', sans-serif;
            height: 100vh;
        }
        
        .background-container {
            background-image: url(../assets/bg.svg);
            
            background-repeat: repeat;
            position: relative;
        }
    </style>
</head>

<body>
    <div class="background-container">
        <div style="width: 100vw;height:18px; display: flex; justify-content: flex-end;">
            <div style="background-color: #720A08;width:360px; height:18px;display:flex;align-items: center;"></div>
        </div>
      
        <div style="width: 100vw;height:18px; display: flex;justify-content: flex-end;margin-top: 45px;">
            <div style="background-color: #ffffff;width:360px; height:18px;display:flex;align-items: center;margin-right: 160px;"></div>
        </div>
        
        <!-- DAY 1 -->
    
        <div id="proshowcards" style="position: relative; width: 100vw;  min-height: 1120px; display: flex; flex-direction: column;">

            <div style="width: 100vw;  display: flex; justify-content: flex-end; position: relative; z-index: 101;">
                <div style="background-color: #720A08; margin-right: 150px;margin-top:35px;height: 140px;display:flex;align-items: center;">
                <h1 style=" font-size: 120px; font-weight: 700;  font-family: 'Poppins', sans-serif; color: rgb(0, 0, 0);padding:0px 40px;margin: 0;">
                    DAY
                </h1>
                </div>
            </div>

           
            <div style="width: 100vw; display: flex; justify-content: flex-end; position: absolute; top:50px;right: 50px; z-index:102;">
                <h1 style="font-family: 'Rubik Vinyl';color:white;font-size: 120px;">ONE</h1>
            </div>
            <div style="width: 1005px;height: 820px; display: flex; align-items: center;justify-content: center; position: absolute; top:125px;left: 100px; z-index: 100;border:#720A08 2px solid;background-color: black;">
                
                    <img src="../assets/proshowimg.svg" style="height:560px;border: #720A08 1px solid;"/>
              
            </div>
            <div style="width: 100vw;  display: flex; justify-content: flex-end; position: relative; z-index:2;">
                <div style="background-color: white;border: #720A08 5px solid;display:flex;flex-direction:column;align-items:  center;position: absolute; top:755px;right: 100px; z-index: -22;padding: 0px 20px 20px 20px;">
                    <h1 style="font-family: 'Rubik Vinyl';color: black;margin: 0;font-size:80px;">
                        DJSTRELLA
                    </h1>
                    <h1 style="font-family: 'Poppins';color: #E6B62E;font-weight: 700;margin: 0;font-size:48px;margin-top: -10px;">
                        APRIL 19TH
                    </h1>
                
                </div>
            </div>
        </div>
        <!-- button -->
        <div style="width: 100vw;display: flex;justify-content: center;align-items: center;margin-top: 35px;">
            
            <div style="border:white 2px solid; display:flex ;justify-content: center; align-items:center; width  :380px ;height:100px;clip-path: polygon(0 0, 100% 0, 100% 50%, 90% 100%, 0 100%);margin-right: 150px;">
                
                <button style="background-color: #720A08;border: none; display:flex ;flex-direction: row;justify-content: space-between;gap: 20px;width: 350px;padding:15px  ;clip-path: polygon(0 0, 100% 0, 100% 50%, 90% 100%, 0 100%);margin-right: 5px;">
                    <h1 style="font-family: 'Poppins';font-size: 20px;font-weight:600;color: white;padding-left:5px;">CHECK IT OUT </h1>
                    
                    <img src="../assets/Arrow 1.svg"style="padding-right:5px;"/>
                </button>
            
            </div>
        </div> 
        
        <div style="width: 100vw;height:18px; display: flex; justify-content: flex-end;">
            <div style="background-color: #720A08;width:360px; height:18px;display:flex;align-items: center;"></div>
        </div>
      
        <div style="width: 100vw;height:18px; display: flex;justify-content: flex-end;margin-top: 45px;">
            <div style="background-color: #ffffff;width:360px; height:18px;display:flex;align-items: center;margin-right: 160px;"></div>
        </div>
        
        <div style="width: 100vw;height:18px; display: flex; justify-content: flex-end;">
            <div style="background-color: #720A08;width:360px; height:18px;display:flex;align-items: center;"></div>
        </div>
      
        <div style="width: 100vw;height:18px; display: flex;justify-content: flex-end;margin-top: 45px;">
            <div style="background-color: #ffffff;width:360px; height:18px;display:flex;align-items: center;margin-right: 160px;"></div>
        </div>
        
        <!-- DAY2 -->
        <div id="proshowcards" style="position: relative; width: 100vw;  min-height: 1120px; display: flex; flex-direction: column;">
            <div style="width: 100vw; display: flex; justify-content: flex-end; position: absolute; top:50px;right: 50px; z-index:102;">
                <h1 style="font-family: 'Rubik Vinyl';color:white;font-size: 120px;">DAY</h1>
            </div>
            <div style="width: 100vw;  display: flex; justify-content: flex-end; position: relative; z-index: 101;">
                <div style="background-color: #720A08; margin-right: 150px;margin-top:35px;height: 140px;display:flex;align-items: center;">
                <h1 style=" font-size: 120px; font-weight: 700;  font-family: 'Poppins', sans-serif; color: rgb(0, 0, 0);padding:0px 40px;margin: 0;">
                    TWO
                </h1>
                </div>
            </div>

           
            
            <div style="width: 1005px;height: 820px; display: flex; align-items: center;justify-content: center; position: absolute; top:125px;left: 100px; z-index: 100;border:#720A08 2px solid;background-color: black;">
                
                    <img src="../assets/proshowimg.svg" style="height:560px;border: #720A08 1px solid;"/>
              
            </div>
            <div style="width: 100vw;  display: flex; justify-content: flex-end; position: relative; z-index:2;">
                <div style="background-color: white;border: #720A08 5px solid;display:flex;flex-direction:column;align-items:  center;position: absolute; top:755px;right: 100px; z-index: -22;padding: 0px 20px 20px 20px;">
                    <h1 style="font-family: 'Rubik Vinyl';color: black;margin: 0;font-size:80px;">
                        DJSTRELLA
                    </h1>
                    <h1 style="font-family: 'Poppins';color: #E6B62E;font-weight: 700;margin: 0;font-size:48px;margin-top: -10px;">
                        APRIL 19TH
                    </h1>
                
                </div>
            </div>
        </div>
                <!-- button -->
                <div style="width: 100vw;display: flex;justify-content: center;align-items: center;margin-top: 35px;">
            
                    <div style="border:white 2px solid; display:flex ;justify-content: center; align-items:center; width  :380px ;height:100px;clip-path: polygon(0 0, 100% 0, 100% 50%, 90% 100%, 0 100%);margin-right: 150px;">
                        
                        <button style="background-color: #720A08;border: none; display:flex ;flex-direction: row;justify-content: space-between;gap: 20px;width: 350px;padding:15px  ;clip-path: polygon(0 0, 100% 0, 100% 50%, 90% 100%, 0 100%);margin-right: 5px;">
                            <h1 style="font-family: 'Poppins';font-size: 20px;font-weight:600;color: white;padding-left:5px;">CHECK IT OUT </h1>
                            
                            <img src="../assets/Arrow 1.svg"style="padding-right:5px;"/>
                        </button>
                    
                    </div>
                </div> 
                
                <div style="width: 100vw;height:18px; display: flex;margin-top:45px;">
                    <img src="../assets/redline.svg"style="padding-left: 160px;" />
                </div>
              
                <div style="width: 100vw;height:18px; display: flex;margin-top: 45px;">
                    <img src="../assets/whiteline.svg" />
                </div>
                <div style="width: 100vw;height:18px; display: flex; justify-content: flex-end; margin-top:50px;">
                    <img src="../assets/redline.svg" />
                </div>
              
                <div style="width: 100vw;height:18px; display: flex;justify-content: flex-end;margin-top: 45px;">
                    <img src="../assets/whiteline.svg" style="padding-right: 160px;"/>
                </div>
        <!-- DAY 3 -->
        <div id="proshowcards" style="position: relative; width: 100vw;  min-height: 1120px; display: flex; flex-direction: column;">

            <div style="width: 100vw;  display: flex; justify-content: flex-end; position: relative; z-index: 101;">
                <div style="background-color: #720A08; margin-right: 150px;margin-top:35px;height: 140px;display:flex;align-items: center;">
                <h1 style=" font-size: 120px; font-weight: 700;  font-family: 'Poppins', sans-serif; color: rgb(0, 0, 0);padding:0px 40px;margin: 0;">
                    DAY
                </h1>
                </div>
            </div>

           
            <div style="width: 100vw; display: flex; justify-content: flex-end; position: absolute; top:60px; z-index:102;">
                <h1 style="font-family: 'Rubik Vinyl';color:white;font-size: 120px;">THREE</h1>
            </div>
            <div style="width: 1005px;height: 820px; display: flex; align-items: center;justify-content: center; position: absolute; top:125px;left: 100px; z-index: 100;border:#720A08 2px solid;background-color: black;">
                
                    <img src="../assets/proshowimg.svg" style="height:560px;border: #720A08 1px solid;"/>
              
            </div>
            <div style="width: 100vw;  display: flex; justify-content: flex-end; position: relative; z-index:2;">
                <div style="background-color: white;border: #720A08 5px solid;display:flex;flex-direction:column;align-items:  center;position: absolute; top:755px;right: 100px; z-index: -22;padding: 0px 20px 20px 20px;">
                    <h1 style="font-family: 'Rubik Vinyl';color: black;margin: 0;font-size:80px;">
                        DJSTRELLA
                    </h1>
                    <h1 style="font-family: 'Poppins';color: #E6B62E;font-weight: 700;margin: 0;font-size:48px;margin-top: -10px;">
                        APRIL 19TH
                    </h1>
                
                </div>
            </div>
        </div>
                <!-- button -->
                <div style="width: 100vw;display: flex;justify-content: center;align-items: center;margin-top: 35px;">
            
                    <div style="border:white 2px solid; display:flex ;justify-content: center; align-items:center; width  :380px ;height:100px;clip-path: polygon(0 0, 100% 0, 100% 50%, 90% 100%, 0 100%);margin-right: 150px;">
                        
                        <button style="background-color: #720A08;border: none; display:flex ;flex-direction: row;justify-content: space-between;gap: 20px;width: 350px;padding:15px  ;clip-path: polygon(0 0, 100% 0, 100% 50%, 90% 100%, 0 100%);margin-right: 5px;">
                            <h1 style="font-family: 'Poppins';font-size: 20px;font-weight:600;color: white;padding-left:5px;">CHECK IT OUT </h1>
                            
                            <img src="../assets/Arrow 1.svg"style="padding-right:5px;"/>
                        </button>
                    
                    </div>
                </div> 
                
                <div style="width: 100vw;height:18px; display: flex;margin-top:45px;">
                    <img src="../assets/redline.svg"style="padding-left: 160px;" />
                </div>
              
                <div style="width: 100vw;height:18px; display: flex;margin-top: 45px;">
                    <img src="../assets/whiteline.svg" />
                </div>
                
              
                
    </div>

</body>
</html>