@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  display: flex;
  width: 100vw;
  height:100vh;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
}
#root{
  width: 100vw;
  height: 100vh;
}

